ehforwarderbot==2.1.1
efb-telegram-master @ git+https://github.com/Ovler-Young/efb-telegram-master.git@dev
efb-wechat-slave @ git+https://github.com/Ovler-Young/efb-wechat-slave.git@master
efb-mp-instantview-middleware @ git+https://github.com/ehForwarderBot/efb-mp-instantview-middleware.git@master
efb-msg-blocker-middleware==1.1.0
efb-notice-middleware==0.0.6
efb-patch-middleware==2.0.23
efb-search-msg-middleware==0.1.0
efb-voice-recog-middleware==1.0.3
efb-link-preview-middleware
efb-online-middleware
